.AddEditCreator {
    width: 40%;
}

form {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
}

.addCreatorForm {
    margin-top: 0;
    margin-bottom: 0;
}

label {
    font-size: 20px;
    display: block;
    color: white;
    display: block;
    font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    height: 3rem;
    overflow: visible;
    font-family: inherit;
    letter-spacing: inherit;
}

form p {
    font-size: 0.6em;
    line-height: 1.5em;
    padding-bottom: 10px;
    font-style: italic;
    margin-top: 5px;
}

p {
    margin-bottom: 0;
    padding-bottom: 12px;
}

h3 {
    margin-bottom: 18px;
    font-size: 1.6vw;
    text-shadow: 1px 1px 1px #00060D;
    color: rgb(81, 133, 180)
}

textarea {
    font-size: 0.8em;
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: square;
    background-color: rgb(81, 133, 180);
    padding: 1rem 0.5rem;
    color: white;
    font-size: 20px;
    height: 3em;
    width: 100%;
    text-transform: uppercase;
    font-family: Poppins;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 700px;
}

span {
    margin-right: 20px;
}