.info-page {
    width: 800px;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 1rem;
}

.info-page h6 {
    font-size: 32px;
    color: rgb(81, 133, 180);
    margin-top: 0;
    margin-bottom: 30px;
}

.profile-image {
    width: 400px;
    height: 300px;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-description {
    width: 300px;
}

.profile-socials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.youtube-link {
    display: inline-flex;
    align-items: center;
}

.twitter-link {
    display: inline-flex;
    align-items: center;
}

.instagram-link {
    display: inline-flex;
    align-items: center;
}

.add-delete-buttons {
    width: 600px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-button {
    background-color: rgb(81, 133, 180);
    padding: 1rem 0.5rem;
    color: white;
    font-size: 20px;
    height: 3em;
    width: 100%;
    text-transform: uppercase;
    font-family: Poppins;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    background-color: rgb(81, 133, 180);
    padding: 1rem 0.5rem;
    color: white;
    font-size: 20px;
    height: 3em;
    width: 100%;
    text-transform: uppercase;
    font-family: Poppins;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}